*{
    margin: 0;
    padding: 0;
    font-family: normal, sans-serif;
}

body{
    background-color: gray;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.crud{
    background-color: #414141;
    color: white;
    height: 300px;
    width: 700px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #242424;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 1.3em;
}

.crud button{
    border-radius: 10px;
    border: 1px solid #242424;
    transition: 0.5s;
}

.crud button:hover{
    background-color: #a5a5a5;
    transition: 0.5s;
}

.crud a{
    display: block;
    padding: 1rem 3rem;
    font-size: 1.4em;
    text-decoration: none;
    color: #242424;
}

